<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.IAF.Palmahim"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/palmachim_symbol"
        android:label="@string/app_name"
        android:theme="@style/FullscreenTheme" >
        <activity
            android:name="com.IAF.Palmahim.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.IAF.Palmahim.TextInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.IAF.Palmahim.BusPage"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>
